In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Handling missing values

In [28]:
data = pd.DataFrame({ 'Age' : [14 , 25 , 20 , 19 , None , 26 , None]})
data

    Age
0  14.0
1  25.0
2  20.0
3  19.0
4   NaN
5  26.0
6   NaN

In [6]:
# Mean
data["Age_mean"] = data["Age"].fillna(data["Age"].mean())

# Median
data["Age_median"] = data["Age"].fillna(data["Age"].median())

In [31]:
# Mean
data["Age_mean"] = data["Age"].fillna(data["Age"].mean())
# Median
data["Age_median"] = data["Age"].fillna(data["Age"].median())


data

    Age  Age_mean  Age_median
0  14.0      14.0        14.0
1  25.0      25.0        25.0
2  20.0      20.0        20.0
3  19.0      19.0        19.0
4   NaN      20.8        20.0
5  26.0      26.0        26.0
6   NaN      20.8        20.0

In [13]:
temps = pd.Series([18, 19, None, 21])

# Forward fill
temps_filled = temps.fillna(method="ffill")
temps
# Backward fill
temps_filled2 = temps.fillna(method="bfill")
# interpolation
temps_filled2 = temps.interpolate(method="linear")

/tmp/ipython-input-3036982866.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  temps_filled = temps.fillna(method="bfill")

0    18.0
1    19.0
2     NaN
3    21.0
dtype: float64

# Scaling

In [32]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
values = [[20], [40], [60], [80]]

normalized = scaler.fit_transform(values)
print(normalized)

[[0.        ]
 [0.33333333]
 [0.66666667]
 [1.        ]]

In [16]:
from sklearn.preprocessing import StandardScaler

values = [[20], [40], [60]]
scaler = StandardScaler()
standardized = scaler.fit_transform(values)
print(standardized)

[[-1.22474487]
 [ 0.        ]
 [ 1.22474487]]

# Encoding

In [33]:
from sklearn.preprocessing import LabelEncoder

data = ["Low", "Medium", "High"]

encoder = LabelEncoder()
encoded = encoder.fit_transform(data)
print(encoded)

[1 2 0]

In [34]:
# one-hot using pandas
data = pd.DataFrame({"Color": ["Red", "Blue", "Green", "Red"]})

one_hot = pd.get_dummies(data, columns=["Color"])
print(one_hot)

   Color_Blue  Color_Green  Color_Red
0       False        False       True
1        True        False      False
2       False         True      False
3       False        False       True

In [26]:
# using sklearn
from sklearn.preprocessing import OneHotEncoder

data = pd.DataFrame({"Color": ["Red", "Blue", "Green"]})
encoder = OneHotEncoder()
encoded = encoder.fit_transform(data[['Color']])

print(data)

   Color
0    Red
1   Blue
2  Green

# Feature engineering

In [22]:
df = pd.DataFrame({
    "Height": [1.7, 1.8],
    "Weight": [70, 80]
})

df["BMI"] = df["Weight"] / (df["Height"] ** 2)
print(df)

   Height  Weight        BMI
0     1.7      70  24.221453
1     1.8      80  24.691358

In [23]:
df = pd.DataFrame({
    "User_ID": [101, 102],
    "Age": [20, 22]
})

df = df.drop(columns=["User_ID"])
print(df)

   Age
0   20
1   22

# Train-test split

In [36]:
from sklearn.model_selection import train_test_split
X = [[1], [2], [3], [4]]
y = [0, 0, 1, 1]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42
)

In [27]:
X_test

[[2]]

In [37]:
X_train

[[4], [1], [3]]